@import "base";

/*宽度*/
.ku-w100{
  width: 100%;
};
.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}
.fixed-top{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.fixed-bottom{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
}

.kuer-fs-ccc{color: #ccc;}
.kuer-fs-aaa{color: #aaa;}
.kuer-fs-ddd{color: #ddd;}

.kuer-w80{width: 80px;}
.kuer-w100{width: 100px;}
.kuer-w120{width: 120px;}
.kuer-w140{width: 140px;}
.kuer-w160{width: 160px;}
.kuer-w200{width: 200px;}
.kuer-w340{width: 340px;}

.kuer-ml5{margin-left: 5px;}
.kuer-ml10{margin-left: 10px;}
.kuer-ml15{margin-left: 15px;}
.kuer-ml20{margin-left: 20px;}
.kuer-ml25{margin-left: 25px;}
.kuer-ml30{margin-left: 30px;}
.kuer-ml35{margin-left: 35px;}